<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if IE 10 ]>    <html lang="en" class="ie10">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon
  ============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}img/favicon.ico">

  <!-- master CSS
  ============================================ -->
  <link rel="stylesheet" href="{{ site.url }}css/master.css">

  <!-- Color Css Files Start -->
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-one.css" title="color-one" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-two.css" title="color-two" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-three.css" title="color-three" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-four.css" title="color-four" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-five.css" title="color-five" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-six.css" title="color-six" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-seven.css" title="color-seven" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-eight.css" title="color-eight" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-nine.css" title="color-nine" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-ten.css" title="color-ten" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-eleven.css" title="color-eleven" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/color-twelv.css" title="color-twelve" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/pattren1.css" title="pattren1" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/pattren2.css" title="pattren2" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/pattren3.css" title="pattren3" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/pattren4.css" title="pattren4" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/pattren5.css" title="pattren5" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/background1.css" title="background1" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/background2.css" title="background2" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/background3.css" title="background3" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/background4.css" title="background4" media="screen" />
  <link rel="alternate stylesheet" href="{{ site.url }}css/switcher/background5.css" title="background5" media="screen" />
  <!-- Color Css Files End -->

  <link rel="canonical" href="{{ site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>