<!-- Start header -->
<header>
  <!-- Start header top -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!--div class="col-md-5 col-lg-6">
          <div class="top-social">
            <nav>
              <ul>
                <li><a href="#">Follow Us On:</a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </nav>
          </div>
        </div-->
        <div class="col">
          <div class="call-to-action">
            <nav>
              <ul>
                <li><a href="mailto:ourmail@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: ourmail@domain.com</a></li>
                <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +5(88) 123-4567</a></li>
                <li><a href="">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul>
                    <li><a href="#">ENGLISH</a></li>
                    <li><a href="#">FRANCE</a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End header top -->
  <!-- Start main menu area -->
  <div class="main-menu-area" id="sticker">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="logo ptb-32">
            <!-- logo here -->
            <a href="{{ site.url }}index.html">
              <img src="https://via.placeholder.com/75x75.png?" alt="">
            </a>
            <!-- end logo -->
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          <div class="main-menu">
            <nav>
              <ul>
                <li>
                  <a href="{{ site.url }}index.html">Home</a>
                </li>
                {% for my_page in site.pages %}
                {% if my_page.title %}
                <li>
                  <a class="" href="{{ my_page.url | prepend: site.url }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
          <div class="donate-button ptb-32">
            <a class="waves-effect waves-light" href="donet.html">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End main menu area -->
  <!-- Start mobile menu -->
  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="nav">
              <li>
                <a class="home" href="{{ site.url }}index.html">Home</a>
              </li>
              {% for my_page in site.pages %}
              {% if my_page.title %}
              <li>
                <a class="" href="{{ my_page.url | prepend: site.url }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- End mobile menu -->
</header>
<!-- End header -->
