<!-- Start header -->
<header>
  <!-- Start header top -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!--div class="col-md-5 col-lg-6">
          <div class="top-social">
            <nav>
              <ul>
                <li><a href="#">Follow Us On:</a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </nav>
          </div>
        </div-->
        <div class="col">
          <div class="call-to-action">
            <nav>
              <ul>
                <li><a href="mailto:ourmail@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: ourmail@domain.com</a></li>
                <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +5(88) 123-4567</a></li>
                <li><a href="">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul>
                    <li><a href="#">ENGLISH</a></li>
                    <li><a href="#">FRANCE</a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col text-center">
          <div class="">
            <div class="donate-button">
              <a class="waves-effect waves-light" href="donate.html">Donate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End header top -->
  <!-- Start main menu area -->
  <div class="main-menu-area" id="sticker">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-1 col-xs-12">
          <div class="logo">
            <!-- logo here -->
            <a href="{{ site.url }}">
              <img src="/assets/images/cccf_black_name.jpg" alt="" class="p-1">
            </a>
            <!-- end logo -->
          </div>
        </div>
        <div class="col-md-11 col-xs-12">
          <div class="main-menu">
            <nav class="">
              <ul class="">
                {% for item in site.data.navigation %}
                <li class="">
                  <a href="{{ site.url }}{{ item.link }}">
                    {{ item.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End main menu area -->
  <!-- Start mobile menu -->
  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="nav">
              {% for item in site.data.navigation %}
              <li>
                <a href="{{ site.url }}{{ item.link }}">
                  {{ item.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- End mobile menu -->
</header>
<!-- End header -->
