<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
<!-- Start header -->
<header>
  <!-- Start header top -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-6">
          <div class="top-social">
            <nav>
              <ul>
                <li><a href="#">Follow Us On:</a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <div class="call-to-action">
            <nav>
              <ul>
                <li><a href="mailto:ourmail@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: ourmail@domain.com</a></li>
                <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +5(88) 123-4567</a></li>
                <li><a href="">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul>
                    <li><a href="#">ENGLISH</a></li>
                    <li><a href="#">FRANCE</a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End header top -->
  <!-- Start main menu area -->
  <div class="main-menu-area" id="sticker">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="logo ptb-32">
            <!-- logo here -->
            <a href="index.html">
              <img src="https://via.placeholder.com/75x75.png?" alt="">
            </a>
            <!-- end logo -->
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          <div class="main-menu">
            <nav>
              <ul>
                <li><a href="#">Home</a>
                  <ul class="drop-menu">
                    <li><a href="index.html">Home 1</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="mega-menu"><a href="#">Project</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="#">Blog</a>
                  <ul class="drop-menu">
                    <li><a href="blog.html">Blog</a></li>
                  </ul>
                </li>
                <li  class="mega-menu"><a href="#">Page</a>
                  <div class="mega-menu-area">
                    <ul class="single-mega-item">
                      <li><a href="about.html">About Us</a></li>
                    </ul>
                    <ul class="single-mega-item">
                      <li><a href="couses-sidebar-left.html">Couses Sidebar Left</a></li>
                    </ul>
                    <ul class="single-mega-item">
                      <li><a href="blog.html">Blog</a></li>
                    </ul>
                    <ul class="single-mega-item">
                      <li><a href="blog-details-sidebar-right.html">Blog Details Sidebar Right</a></li>
                    </ul>
                  </div>
                </li>
                <li  class="mega-menu"><a href="#">Shortcodes</a>
                  <div class="mega-menu-area">
                    <ul class="single-mega-item">
                      <li class="shortcode-title">Shortcode 1</li>
                    </ul>
                    <ul class="single-mega-item">
                      <li class="shortcode-title">Shortcode 2</li>
                      <li><a href="elements-latest-blog.html">Latest Blog</a></li>
                    </ul>
                    <ul class="single-mega-item">
                      <li class="shortcode-title">Shortcode 3</li>
                      <li><a href="elements-page-title-center.html">Page Title Center</a></li>
                    </ul>
                    <ul class="single-mega-item">
                      <li class="shortcode-title">Shortcode 4</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <div class="donate-button ptb-32">
            <a class="waves-effect waves-light" href="donet.html">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End main menu area -->
  <!-- Start mobile menu -->
  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="nav">
              <li><a class="home" href="#">Home</a>
                <ul>
                  <li><a href="index.html">Home 1</a></li>
                </ul>
              </li>
              <li><a href="about.html">About</a></li>
              <li><a href="#">Blog</a>
                <ul>
                  <li><a href="blog.html">Blog</a></li>
                </ul>
              </li>
              <li><a href="#">Pages</a>
                <ul>
                  <li><a href="about.html">About Us</a></li>
                </ul>
              </li>
              <li><a href="#">Shortcodes</a>
                <ul>
                  <li><a href="elements-causes.html">Causes</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- End mobile menu -->
</header>
<!-- End header -->
