---
layout: default
---
<!-- Start our gallery -->
<section class="our-gallery pt-90 pb-60">
    <div class="container">
        <div class="row">
            <!-- Start section title -->
            <div class="col-sm-12">
                <div class="section-title text-center">
                    <h2>Photos </h2>
                </div>
            </div>
            <!-- End section title -->
            <div class="col-sm-12">
                <div class="gallery-menu text-center">
                    <nav>
                        <ul>
                            <li class="filter"  data-filter="all">All</li>
                            <li class="filter"  data-filter="Power">Power and Purpose</li>
                            <li class="filter"  data-filter="Events">Events</li>
                           >
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row" id="gallery-filter">
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power ">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--i4se2CIx--/c_scale,h_500,w_500/v1599145920/ccc-foundation/ccc-pp1.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599145920/ccc-foundation/ccc-pp1.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--WI2a3psc--/c_scale,h_500,w_500/v1599145921/ccc-foundation/ccc-pp2.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599145921/ccc-foundation/ccc-pp2.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--QVb6aTzJ--/c_scale,h_500,w_500/v1599145923/ccc-foundation/ccc-pp3.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599145923/ccc-foundation/ccc-pp3.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--ZFhAiCHC--/c_scale,h_500/v1599146029/ccc-foundation/ccc-_events1.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599146029/ccc-foundation/ccc-_events1.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--vjR3faR6--/c_scale,h_500,w_500/v1599146060/ccc-foundation/ccc-events2.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599146060/ccc-foundation/ccc-events2.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--nk_0hqlh--/c_scale,h_500,w_500/v1599146346/ccc-foundation/ccc-_pp6.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599146346/ccc-foundation/ccc-_pp6.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--6FeY6Tyx--/c_scale,h_500,w_500/v1599146204/ccc-foundation/ccc-pp4.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599146204/ccc-foundation/ccc-pp4.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--cdASNAEm--/c_scale,h_500,w_500/v1599146205/ccc-foundation/ccc-pp5.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599146205/ccc-foundation/ccc-pp5.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->

            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power ">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--5GWGa2xJ--/c_scale,h_500,w_500/v1599745852/ccc-foundation/ccc-pp7.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599745852/ccc-foundation/ccc-pp7.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--Su0LNdgG--/c_scale,h_500,w_500/v1599746075/ccc-foundation/ccc-pp8.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599746075/ccc-foundation/ccc-pp8.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--RhCbDMaS--/c_scale,h_500,w_500/v1599746162/ccc-foundation/ccc-pp9.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599746162/ccc-foundation/ccc-pp9.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--urSsdxDl--/c_scale,h_500,w_500/v1599746901/ccc-foundation/ccc-_pp10.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599746901/ccc-foundation/ccc-_pp10.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--PAJ-asPz--/c_scale,h_500,w_500/v1599747105/ccc-foundation/ccc-pp11.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599747105/ccc-foundation/ccc-pp11.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--cbjWXFTo--/c_scale,h_500,w_500/v1599747326/ccc-foundation/ccc-pp12.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599747326/ccc-foundation/ccc-pp12.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--FlZ5lR21--/c_scale,h_500,w_500/v1599747329/ccc-foundation/ccc-pp13.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599747329/ccc-foundation/ccc-pp13.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/s--DsHfKeXv--/c_scale,h_500,w_500/v1599747431/ccc-foundation/ccc-pp14.jpg" alt="" />
                    <a class="image-link text-center" href="https://res.cloudinary.com/brightplum/image/upload/v1599747431/ccc-foundation/ccc-pp14.jpg">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>CCC Foundation</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
        </div>
    </div>
</section>
<!-- End our gallery -->
</div>