---
layout: default
---
<!-- Start our gallery -->
<section class="our-gallery pt-90 pb-60">
    <div class="container">
        <div class="row">
            <!-- Start section title -->
            <div class="col-sm-12">
                <div class="section-title text-center">
                    <h2>OUR <span>Gallery</span></h2>
                    <p>We create events aiming to pear to the voice for children and gather for support. <br>Please update with our events and confirm you presence.</p>
                </div>
            </div>
            <!-- End section title -->
            <div class="col-sm-12">
                <div class="gallery-menu text-center">
                    <nav>
                        <ul>
                            <li class="filter"  data-filter="all">All</li>
                            <li class="filter"  data-filter="Power">Power and Purpose</li>
                            <li class="filter"  data-filter="Events">Events</li>
                           >
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row" id="gallery-filter">
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power ">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599145920/ccc-foundation/ccc-pp1.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599145921/ccc-foundation/ccc-pp2.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599145923/ccc-foundation/ccc-pp3.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599146029/ccc-foundation/ccc-_events1.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599146060/ccc-foundation/ccc-events2.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599146346/ccc-foundation/ccc-_pp6.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599146204/ccc-foundation/ccc-pp4.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
            <!-- Start single gallery -->
            <div class="col-md-3 mb-30 single-gallery mix all Events Power">
                <div class="gallery-image-and-text">
                    <img class="img-responsive" src="https://res.cloudinary.com/brightplum/image/upload/v1599146205/ccc-foundation/ccc-pp5.jpg" alt="" />
                    <a class="image-link text-center" href="https://via.placeholder.com/213x236.png?text=1050x410">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <p>Poor Nature</p>
                    </a>
                </div>
            </div>
            <!-- End single gallery -->
        </div>
    </div>
</section>
<!-- End our gallery -->
</div>